name: Django CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r djangooo/requirements.txt

    - name: Run Django tests
      run: |
        python djangooo/manage.py test accounts
        python djangooo/manage.py test articles

    - name: Build Docker image
      run: docker build -t djangooo djangooo/

    - name: Run Django container
      run: docker run -d -p 8000:8000 djangooo
